{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Kommunikationsinstruktion
{% endblock %}

{% block content %}
<div class="row lead">
    Ihre Gruppe bekommt nun die Möglichkeit 5 Minuten miteinander zu kommunizieren. Ihnen wurde per Zufall die Rolle als
    Konfident zugeiteilt. Bitte teilen Sie dies im Chat nicht Ihrer Gruppe mit. Ein Konfident ist ein Vertrauter des
    Versuchsleiters, der, einem Skript folgend, am Experiment teilnimmt. In diesem Experiment wollen wir sehen, wie sich
    ein Teilnehmer mit negativem Kommunikationsstil auf Kommunikation und damit dann auch auf das Ergebnis der Gruppe im
    folgenden Spiel auswirkt. Entsprechend werden die Anweisungen, denen Sie folgen sollen, einen sehr negativen Ton
    haben.
    <br>

    Da Sie als Konfident nicht mehr nach einer eigenen Strategie im Spiel mitspielen können, werden Sie als Konfident
    nicht aufgrund der Leistung im Spiel sondern aufgrund Ihrer Leistung beim Umsetzen des nachfolgenden Skripts
    beurteilt und der beste Konfident erhalten 40.- Fr. Die Beurteilung der Konfidenten erfolgt aufgrund der Einhaltung
    des untenstehenden Skripts, dem Folgend der Gruppenstrategie im folgenden Spiel und den Beurteilungen der
    Kommunikation durch die anderen Gruppenmitglieder.
    <br>

    Nehmen Sie sich Zeit die Anweisungen durchzulesen. Sie können die folgenden Beispiele gerne auch während dem Chat
    vor sich haben. Damit Sie das Skript auch während dem Chat vor sich haben, kopieren Sie das Skript beispielsweise
    auf ein Worddokument. (Nach dem Chat können Sie das Dokument wieder löschen)
    <br>
    Es ist wichtig, dass Sie sich an den folgenden Instruktionen halten um eine Standardisierung zu gewährleisten und
    auch damit die Spieler aller Gruppen die gleichen Chancen haben. Sie können gerne Ihre Sätze aus dem Dokument
    kopieren und einfügen, machen Sie das aber nicht unrealistisch schnell (ausser bei der ersten Message).
    <br>
    Hier nun das Skript, dem Sie folgen sollten:
    <br>

    <ul>
        <li><b>Schreiben Sie als erstes und so schnell wie möglich:</b></li>
        <span>„so ein idiotisches spiel, das ist ja völlig unrealistisch!“</span>
        </li>


        <li><b>Sobald andere sich über etwas beschweren, bestätigen Sie die Aussage mit Floskeln wie:<b></li>
        <span>
                «genau!», «total!», «sag ich doch!», etc.
            </span>
        </li>


        <li><b>
            Nach ca. 3 bis 5 Aussagen der anderen Gruppenmitglieder, beginnen Sie mit einer ausschweifenden Erzählung,
            welche nicht zur Lösung beiträgt:</b></li>
        <span>
                „das spiel erinnert mich stark an unser wg-toilette.“  „alle wollen sie nutzen aber niemand putzen!“   „schier wäre die eine ausgezogen...voll übertrieben!!!“  „aber es kackt schon an immer alles verschmutzt zu sehen“  „am anfang habe ich ja noch versucht das teil sauber zu halten"  „aber die anderen haben da nichts in die richtung gemacht“  „habs dann aber irgendwann aufgegeben“
                <b>Werden Sie explizit dazu aufgefordert, nicht vom Thema abzuschweifen bzw. nicht weiter zu erzählen, brechen Sie diese Erzählung ab.</b>
            </span>
        </li>


        <li><b>Sobald jemand einen konkreten Vorschlag zur Koordination des Grossputzes hervorsbringt. (Bsp. Jede zweite
            Runde machen wir ein Grossputz) schreiben Sie:</b></li>
        <span>
                „da wird sich doch eh niemand dran halten.“
            </span>
        </li>


        <li><b>Abgesehen von diesen Äusserungen bleiben Sie weitgehend inaktiv. Werden Sie aufgefordert einen Vorschlag
            abzugeben, antworten Sie mit:</b></li>
        <span>
                „ich glaube nicht, dass es in diesem spiel eine gute lösung gibt.“
            </span>
        </li>


        <li><b>
            Es ist möglich, dass die anderen Gruppenmitglieder Sie direkt ansprechen und dazu auffordern, etwas zu
            sagen, was wir hier nicht voraus ahnen können. Kommen Sie dann den Aufforderungen nach, in möglichst
            neutraler und kurzer Form, so dass diese Äusserungen die Konversation möglichst wenig beeinflussen.</b></li>
        </li>


        <li><b>
            Werden Sie gefragt, ob Sie eine von der Gruppe entwickelte Lösung unterstützen, sagen Sie ja, aber ohne
            Ausschweife, also einfach:</b>b>
        </li>
        <span>
                «ja», «o.k.» oder „ich werde mich daran halten.“,<b> je nachdem, wie Sie gefragt werden </b>
            </span>
        </li>


        <li><b>
            Wegen der negativen Haltung, welche Sie mit obigen Anweisungen vertreten, werden Sie ev. auf den Gewinn
            angesprochen, z.B. gefragt, ob Sie denn nicht die 40.- Fr. gewinnen wollen. Dann antworten Sie wie
            folgt: </b></li>
        <span>
                „ich mache mir keine illusionen. dieses Geld zu erhalten“
            </span>
        </li>
    </ul>
    <br>
    Bitte beachten Sie, dass Spieler disqualifiziert werden, welche sich identifizieren bzw. identifizierbar machen;
    beleidigende oder diskriminierende Äusserungen anbringen; oder Drohungen äussern, welche sich auf nach dem
    Experiment beziehen.
</div>

<hr>
<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>

{% endblock %}
