{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Kommunikationsinstruktion
{% endblock %}

{% block content %}
<div class="row lead">
    Ihre Gruppe bekommt nun die Möglichkeit für 5 Minuten per schriftlichem Chat zu kommunizieren. Wir bitten Sie, sich nur auf Hochdeutsch auszutauschen.
    <br>

    Bitte beachten Sie, dass Spieler disqualifiziert werden, welche sich identifizieren bzw. identifizierbar machen; beleidigende oder diskriminierende Äusserungen anbringen; oder Drohungen äussern, welche sich auf nach dem Experiment beziehen.
    <br>
    Hier noch ein paar Tipps zur Kommunikation:
<br>
    <ul>
        <li><b>Schreiben Sie nicht zu lange einzelne Nachrichten, sondern bringen Sie pro Nachricht nur  wenige Informationseinheiten.</b></li>
        <br>
        <li><b>Nicht alle Personen sind geübt, schnell auf einer Tastatur zu schreiben. Lassen Sie sich nicht  von Schreibfehlern verwirren und wundern Sie sich nicht, wenn andere etwas Zeit brauchen  zum um Ihre Mitteilungen zu schreiben.</b></li>
        <br>
        <li><b>Vermeiden Sie Abkürzungen oder Zeichen, welche die anderen an der Kommunikation Beteiligten vielleicht nicht kennen oder missverstehen könnten. </b></li>
        <br>
        <li><b>Wenn die Kommunikation beendet ist, klicken Sie auf 'weiter'.</b></li>
    </ul>
</div>

<hr>
<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>

{% endblock %}
