{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Kommunikationsinstruktion
{% endblock %}


{% block styles %}
<style>

    li{
    margin-bottom : 20px;
}

</style>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">

        <p>Ihre Gruppe bekommt nun die Möglichkeit für 5 Minuten per schriftlichem Chat zu kommunizieren. Wir bitten
            Sie, sich nur auf Hochdeutsch auszutauschen.</p>


        <p>Bitte beachten Sie, dass Spieler disqualifiziert werden, welche sich identifizieren bzw. identifizierbar
            machen;
            beleidigende oder diskriminierende Äusserungen anbringen; oder Drohungen äussern, welche sich auf nach dem
            Experiment beziehen.</p>

        <p>Hier noch ein paar Tipps zur Kommunikation:</p>
        <br>

        <ul>
            <li>Schreiben Sie nicht zu lange einzelne Nachrichten, sondern bringen Sie pro Nachricht nur  wenige
                Informationseinheiten.
            </li>

            <li>Nicht alle Personen sind geübt, schnell auf einer Tastatur zu schreiben. Lassen Sie sich nicht  von
                Schreibfehlern verwirren und wundern Sie sich nicht, wenn andere etwas Zeit brauchen  zum um Ihre
                Mitteilungen zu schreiben.
            </li>

            <li>Vermeiden Sie Abkürzungen oder Zeichen, welche die anderen an der Kommunikation Beteiligten
                vielleicht nicht kennen oder missverstehen könnten.
            </li>

            <li>Wenn die Kommunikation beendet ist, klicken Sie auf 'weiter'.</li>
        </ul>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <span class="pull-right">{% next_button %}</span>
        </div>
    </div>

</div>

{% endblock %}
