{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Kommunikationsinstruktion
{% endblock %}

{% block content %}
<div class="row lead">
    hre Gruppe bekommt nun die Möglichkeit für 5 Minuten per schriftlichem Chat zu kommunizieren. Wir bitten Sie, sich nur auf Hochdeutsch auszutauschen.
    <br>
    Bitte beachten Sie, dass Spieler disqualifiziert werden, welche sich identifizieren bzw. identifizierbar machen; beleidigende oder diskriminierende Äusserungen anbringen; oder Drohungen äussern, welche sich auf nach dem Experiment beziehen.
    <br>

Hier noch ein paar Tipps zur Kommunikation:
    <br>
    <ul>
        <li><b>
            Achten Sie auf einen freundlichen Umgangston und motivieren Sie andere – insbesondere  stillere Spieler –, sich an der Lösungsfindung zu beteiligen.</b></li>
        </li><br>


        <li><b>
            Versuchen Sie gemeinsam eine Lösung zu erarbeiten und Vorschläge zu erklären, zu diskutieren (z.B. Vor-und Nachteile) und verschiedene Vorschläge zusammenzuführen.</b></li>
        </li><br>


        <li><b>
            Schweifen Sie nicht vom Thema ab und führen Sie die Diskussion wieder auf den Fokus zurück, wenn andere vom Thema abschweifen.</b></li>
        </li><br>


        <li><b>
            Achten Sie darauf, dass am Ende konkrete Handlungsempfehlungen hervorgehen, so dass jeder weiss, was er oder sie tun sollen.</b></li>
        </li>

    </ul>
</div>

<hr>
<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>

{% endblock %}
