{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Kommunikationsinstruktion
{% endblock %}

{% block content %}
<div class="row lead">
    hre Gruppe bekommt nun die Möglichkeit 5 Minuten miteinander zu kommunizieren. Ihnen wurde per Zufall die Rolle als Konfident zugeiteilt. Bitte teilen Sie dies im Chat nicht Ihrer Gruppe mit. Ein Konfident ist ein Vertrauter des Versuchsleiters, der, einem Skript folgend, am Experiment teilnimmt. In diesem Experiment wollen wir sehen, wie sich ein Teilnehmer mit positivem Kommunikationsstil auf Kommunikation und damit dann auch auf das Ergebnis der Gruppe im folgenden Spiel auswirkt. Entsprechend werden die Anweisungen, denen Sie folgen sollen, einen sehr positiven Ton haben.
Da Sie als Konfident nicht mehr nach einer eigenen Strategie im Spiel mitspielen können, werden Sie als Konfident nicht aufgrund der Leistung im Spiel sondern aufgrund Ihrer Leistung beim Umsetzen des nachfolgenden Skripts beurteilt und die fünf besten Konfidenten erhalten 40.- Fr. Die Beurteilung der Konfidenten erfolgt aufgrund der Einhaltung des untenstehenden Skripts, dem Folgend der Gruppenstrategie im folgenden Spiel und den Beurteilungen der Kommunikation durch die anderen Gruppenmitglieder.
Nehmen Sie sich Zeit die Anweisungen durchzulesen. Sie können die folgenden Beispiele gerne auch während dem Chat vor sich haben. Öffnen Sie dazu diesen Link ....
Es ist wichtig, dass Sie sich an den folgenden Instruktionen halten um eine Standardisierung zu gewährleisten und auch damit die Spieler aller Gruppen die gleichen Chancen haben. Sie können gerne Ihre Sätze aus dem Dokument kopieren und einfügen, machen Sie das aber nicht unrealistisch schnell (ausser bei der ersten Message).
Hier nun das Skript, dem Sie folgen sollten:

    <ul>
        <li>Schreiben Sie als erstes und so schnell wie möglich:</li>
            <span>„So ein interessantes spiel! Habt ihr ideen wie wir mehr ressourcen machen können?“ </span>
        </li>


        <li>Sobald jemand einen konkreten Vorschlag zur Koordination des Grossputzes hervor- bringt. (Bsp. Jede zweite Runde machen wir ein Grossputz) schreiben Sie:</li>
        <span>„guter vorschlag! Welche vor-/nachteile seht ihr? Oder hat jemand eine andere idee?“ <b> Nach dem ein weiterer Vorschlag gefallen ist, fügen Sie hinzu:,</b>  „Finde ich auch gut. Was haltet ihr von diesem vorschlag? Noch mehr ideen?“</span>
        </li>


        <li>Stellen Sie fest, dass Spieler stark vom Thema abschweifen, schreiben Sie:</li>
            <span>„gute story, aber wir sollten wieder darauf fokussieren, wie wir unsere ressourcen maximieren.“</span>
        </li>


        <li>Abgesehen von diesen Äusserungen bleiben Sie weitgehend inaktiv. Werden Sie auf- gefordert einen Vorschlag abzugeben, antworten Sie mit:</li>
            <span>„Ich habe keine bessere idee als schon vorgeschlagen wurde.“</span>
        </li>


        <li>
            Es ist möglich, dass die anderen Gruppenmitglieder Sie direkt ansprechen und dazu auffordern, etwas zu sagen, was wir hier nicht voraus ahnen können. Kommen Sie dann den Aufforderungen nach, in freundlicher aber möglichst kurzer Form, so dass diese Äusserungen die Konversation möglichst wenig beeinflussen.</li>
        </li>

         <li>Nach ca. drei Minuten weisen Sie die Gruppe darauf hin die Lösung zu konkretisieren. Wurde damit noch nicht begonnen verwenden Sie den folgenden Satz:</li>
            <span>„Wir sollten nun genau festlegen, was jeder machen muss damit dann alles klappt.“
                <b>Wenn schon die konkrete Handlungsanweisungen diskutiert werden, sagen Sie:</b>> „Also was soll nun jeder genau tun, damit unsere Strategie funktioniert?“ </span>
        </li>


        <li>Werden Sie gefragt, ob Sie eine von der Gruppe entwickelte Lösung unterstützen, sagen Sie:</li>
            <span>„Ich werde mich voll daran halten!“.</span>
        </li>
    </ul>
    Bitte beachten Sie, dass Spieler disqualifiziert werden, welche sich identifizieren bzw. identifizierbar machen; beleidigende oder diskriminierende Äusserungen anbringen; oder Drohungen äussern, welche sich auf nach dem Experiment beziehen.
</div>

<hr>
<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>

{% endblock %}
