{% extends "global/Base.html" %}
{% load staticfiles otree_tags i18n %}

{% block title %}
    {% trans "Questionnaire 2" %}
{% endblock %}

{% block content %}
<style>
    ul.questions input.form-control {
        display: inline;
        margin: 3px;
    }

    ul.questions div.strong {
        font-weight: bold;
    }

    ul.questions div.no-strong *{
        font-weight: normal;
    }

    ul.questions li.question {
        margin-bottom: 20px;
    }

    ul.questions .indent {
        margin-left: 40px;
    }

    ul.questions textarea {
        width: 100%;
        max-width: 100%;
        resize: none;
    }

    ul.questions li.question ul {
        list-style-type: none;
    }
</style>
<div class="row">
    <div class="col-md-12">
    <ul class="questions">
        <li class="question">
            <div class="strong">Welche Effekte hatte die Kommunikation auf Sie?</div>
            <div class="strong">Ich bin…</div>
            <ul>
                <li>überhaupt nicht {{form.q2_communication_surprised}} völlig überrascht.</li>
                <li>überhaupt nicht {{form.q2_communication_satisfied}}  völlig zufrieden.</li>
                <li>überhaupt nicht {{form.q2_communication_upset}}  äusserst verärgert.</li>
            </ul>
        </li>
        <li class="question">
            <div class="strong">War es eine faire Diskussion, bei der jeder seine Meinung beitragen konnte?</div>
            <div class="strong">Die Diskussion war...</div>
            <ul>
                <li>überhaupt nicht {{form.q2_communication_fair_discussion}} vollkommen fair.</li>

            </ul>
        </li>
        <li class="question">
            <div class="strong">Hatten Sie Angst  kritisiert zu werden, sobald Sie Ihre Meinung äussern?</div>
            <div class="strong">Ich hatte...</div>
            <ul>
                <li>Überhaupt keine {{form.q2_communication_fear_cirticism}} starke Angst kritisiert zu werden.</li>
            </ul>
        </li>

        <li class="question">
            <div class="strong">Inwiefern ging es bei der Kommunikation nur darum, andere zu beschuldigen und selber Recht zu behalten?</div>
            <div class="strong">Bei der Kommunikation ging es...</div>
            <ul>
                <li>Überhaupt nicht {{form.q2_communication_to_be_right}} äusserst stark um Recht zu behalten.</li>
            </ul>
        </li>

        <li class="question">
            <div class="strong">Inwiefern wurden alle darin bestärkt, ihre Meinung zu äussern inkl. ruhigere Spieler?</div>
            <div class="strong">Alle wurden...</div>
            <ul>
                <li>Überhaupt nicht {{form.q2_communication_give_opinion}} äusserst bestärkt ihre Meinung zu äussern.</li>
            </ul>
        </li>

        <li class="question">
            <div class="strong">Inwiefern wurden die Meinungen aller bei der Lösungsfindung berücksichtigt?</div>
            <div class="strong">Die Meinungen aller wurde...</div>
            <ul>
                <li>Überhaupt nicht {{form.q2_communication_others_opinions}} vollkommen berücksichtigt.</li>
            </ul>
        </li>

        <li class="question">
            <div class="strong">Inwiefern ging es bei der Kommunikation mehr ums Jammern als um Problemlösung?</div>
            <div class="strong">In der Kommunikation ging es...</div>
            <ul>
                <li>Überhaupt nicht {{form.q2_communication_whine}} stark ums Jammern.</li>
            </ul>
        </li>

        <li class="question">
            <div class="strong">Wurden Ihre Beiträge von den anderen beachtet?</div>
            <div class="strong">Meine Beiträge wurden...</div>
            <ul>
                <li>Überhaupt nicht {{form.q2_communication_inputs}} vollkommen beachtet.</li>
            </ul>
        </li>

        <li class="question">
            <div class="strong">Welcher Spieler dominierte die Diskussion am stärksten?</div>
            <div class="strong">(Falls Sie der Meinung sind, Sie hätten die Diskussion dominiert, kreuzen Sie Ihre Spieler Nummer an. Erinnern Sie sich nicht mehr an diese, kreuzen Sie Ich an.) Ich</div>
            <div class="no-strong">{{form.q2_best_player}}</div>
        </li>

    </ul>
</div>

<hr>
<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>

{% endblock %}
